<div class="fixed-top navbar ">
	<div class="button-login btn-group shadow" role="group" aria-label="Button group with nested dropdown">
		<a type="button" class="btn btn-dark" href="{{ path('home') }}">
			<i class="fas fa-home"></i>
		</a>
		<a type="button" class="btn btn-dark" href="#page-1">
			<i class="far fa-image"></i>
		</a>
		<a type="button" class="btn btn-dark" href="#page-2">
			<i class="far fa-caret-square-right"></i>
		</a>
		{% if app.user %}
			<a type="button" class="btn btn-dark" href="{{ path('photography_new') }}">
				<i class="fas fa-folder-plus"></i>
			</a>
			<a type="button" class="btn btn-dark" href="{{ path('app_logout') }}">Logout</a>
		{% else %}
			<a type="button" class="btn btn-dark" href="{{ path('app_register') }}">
				<i class="fas fa-user-plus"></i>
			</a>
			<a class="btn btn-dark dropdown-toggle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				login
			</a>
		</div>
		<div class="card shadow bg-dark p-2 mt-1 collapse" id="collapseExample">
			<form method="post">
				<input type="email" name="email" id="inputEmail" class="form-control text-secondary mt-3" autocomplete="email" placeholder="email" required autofocus>
				<input type="password" name="password" id="inputPassword" class="form-control text-secondary mt-3" placeholder="password" autocomplete="current-password" required style="FontAwesome">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-dark shadow btn-sm mt-3" type="submit">
					Sign in
				</button>

			</form>
		</div>
	{% endif %}
</div>
